body{
    color: #fff;
}
.text-4xl {
    font-size: 60px !important;
}
.rounded-custom
{
    border-radius: 10px;
}

@media (max-width: 575.98px) {
    /* Aturan CSS untuk layar kecil */
    .text-4xl {
    font-size: 40px !important;
}
}
